* {
    padding: 0;
    margin: 0;
}
body {
    background-image: url(fon-color.jpg);
    background-size:cover;
    background-position: center;
}
.menu-bar {
    background: rgb(106, 48, 243);
    text-align: center;
}
.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 5px;
}
.menu-bar ul li a {
    color: #fff;
    text-decoration: none;
}
.active, .menu-bar ul li:hover {
    background: #261d4e;
    border-radius: 3px;
}
.menu-bar .fa {
    margin-right: 5px;
}
.sub-menu-1 {
    display: none;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    position: absolute;
    background: #2420eb;
    margin-top: 5px;
    margin-left: -9px;
    width: 130px;
    
}
.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    margin: 5px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    display: block;
    margin: 5px auto;
}